@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto 100px;
}

.header {
    background-color: #323232;
}

.nav {
    display: flex;
    height: 25px;
    padding: 20px 0;
    justify-content: center;
    flex-wrap: wrap;
}

.nav--link-decoration {
    color: #ececec;
    font-family: 'Gelasio', serif;
    margin: 0 15px ;
    text-decoration: none;
    text-transform: uppercase;
}

.nav--link-decoration:hover {
    color: #33b6dd;
}

.info {
    font-family: 'Gelasio', serif;
    font-size: 18px;
}

.info__about {
    display: flex;
    margin: 150px auto;
    max-width: 750px;
}

.info__about--header,
.info__career--header {
    margin-top: 0;
}

.info__photo {
    border-radius: 50%;
    height: 10em;
    width: 10em;
    margin-right: 50px;
}

.career {
    color: #dbdbdb;
    display: flex;
    font-family: 'Gelasio', serif;
    padding: 50px 0;
    background-color: #197764;
    justify-content: center;
}

.info__career--header {
    padding-left: 50px + 10em;
}

.info__career--modifier {
    display: flex;
    margin: 10px auto;
    max-width: 700px;
}

.info__career--date {
    font-weight: bold;
}

.info__career--company {
    padding-left: 25px;

}

.info__career--position {
    padding-left: 50px;
}

.info__career--description {
    padding-left: 25px;
}

.footer {
    display: flex;
    padding: 50px 0;
    background-color: #323232;
}