@import url('https://fonts.googleapis.com/css?family=Gelasio&display=swap');

html,
body {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto 100px;
}

.header {
    display: flex;
    background-color: #323232;
}

.nav {
    display: flex;
    height: 25px;
    padding: 20px 0;
    margin: auto;
    flex-wrap: wrap;
    align-content: center;
}

.nav--link-decoration {
    color: #ececec;
    font-family: 'Gelasio', serif;
    margin: 0 15px ;
    text-decoration: none;
    text-transform: uppercase;
}

.nav--link-decoration:hover {
    color: #33b6dd;
}

.header__languages {
    padding-right: 15px;
}

.header__languages--img {
    width: 2em;
}

.languages {
    display: flex;
    align-self: center;
}

.info {
    font-family: 'Gelasio', serif;
    font-size: 18px;
}

.info__about {
    display: flex;
    margin: 150px auto;
    max-width: 750px;
}

.info__about--header,
.info__career--header {
    margin-top: 0;
}

.info__about--text {
    padding-left: 40px;
}

.info__photo {
    border-radius: 50%;
    height: 10em;
    width: 10em;
    margin-right: 50px;
}

.career {
    color: #dbdbdb;
    display: flex;
    font-family: 'Gelasio', serif;
    padding: 50px 0;
    background-color: #197764;
    justify-content: center;
    font-size: 17px;
}

.info__career--dcp {
    width: 290px;
}

.info__career--header {
    text-align: center;
}

.info__career--modifier {
    display: flex;
    margin: 10px auto;
    max-width: 700px;
}

.info__career--date {
    font-weight: bold;
}

.info__career--company {
    padding-left: 25px;

}

.info__career--position {
    padding-left: 50px;
}

.info__career--description {
    padding-left: 25px;
    max-width: 400px;
}

.footer {
    display: flex;
    padding: 40px 0;
    background-color: #323232;
    font-family: 'Gelasio', serif;
}

.footer__communication {
    list-style: none;
}

.footer__communication--items {
    height: 3em;
}

.footer__communication--pic {
    width: 2em;
    padding-right: 25px;
    vertical-align: middle;
}

.footer__communication--link {
    text-decoration: none;
    color: white;
}

.footer__communication--link:hover {
    color: #aaa;
}